.header{
  width:100%;
  background-color:#075ab4; 
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom: 10px;
}
h1{
  color:#fff;
  margin:auto;
  width:200px;

}
.container{
  width:100%;
  position: relative;
  display: block;
}
.form-input{
  width:200px;
}